.blog {
	position: relative;
	height: 76.6rem;
	overflow: hidden;
}
.bcg {
	width: 22.4rem;
	height: 19rem;
	position: absolute;
	top: 19%;
	right: -6%;
}
.blog__title {
	font-size: 1.8rem;
	font-weight: 600;
	color: var(--black-text);
	text-align: center;
	margin: 5rem auto 1rem auto;
	position: relative;
}
.blog__title::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 13rem;
	height: 1.5rem;
	background: #f6f6f6;
	z-index: -1;
}
.blog__description {
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--primary-color);
	text-align: center;
	margin-bottom: 6rem;
}
.blog-section {
	background-color: var(--primary-color);
	margin: 33.5rem auto 0 auto;
	width: 35rem;
	height: 21rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 40px 0; */
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	position: relative;
}
.blog-swiper {
	overflow: visible !important;
	background-color: transparent !important;
	position: absolute !important;
	height: 42rem !important;
	padding: 0 !important;
	display: inline-block !important;
	width: 36rem !important;
	bottom: 28% !important;
	left: -17% !important;
}
.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 5rem;
}
.card {
	display: flex !important;
	align-items: self-start !important;
	justify-content: center !important;
	flex-direction: column;
	width: 25rem !important;
	height: 41rem !important;
	border: 3px solid #f8f8f8;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	padding: 1.3rem 1.1rem;
	background-color: #fff;
}
.card__image {
	width: 22.7rem;
	height: 16rem;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.card__title {
	margin-top: 1rem;
	margin-bottom: 1.2rem;
	width: 22.7rem;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 150%;
	color: var(--black-text);
}
.card__category {
	font-size: 1.2rem !important;
	font-weight: 500 !important;
	line-height: 150%;
	color: #b8b8b8 !important;
	margin-bottom: 1.1rem;
	text-align: right !important;
}
.card__content {
	width: 22.7rem;
	font-weight: 300 !important;
	font-size: 1.2rem !important;
	color: #878787 !important;
	text-align: initial !important;
}
.card__button {
	margin-top: 1.8rem;
	width: 22.4rem;
	height: 4.3rem;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 150%;
	color: var(--black-text);
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.blog-swiper .swiper-button-next {
	background-image: url(/public/img/pepicons-print_arrow-up-white.svg);
	background-repeat: no-repeat;
	background-size: 3.5rem;
	height: 3.5rem;
	width: 3.5rem;
	position: absolute;
	left: 19%;
	top: 66%;
	z-index: 999;
	cursor: pointer;
}

.blog-swiper .swiper-button-prev {
	background-image: url(/public/img/pepicons-print_arrow-down-white.svg);
	background-repeat: no-repeat;
	background-size: 3.5rem;
	height: 3.5rem;
	width: 3.5rem;
	position: absolute;
	right: -12%;
	top: 66%;
	z-index: 999;
	cursor: pointer;
}
.more {
	cursor: pointer;
	z-index: 994;
	padding-top: 0.4rem;
	line-height: 150%;
	color: #222222;
	font-size: 1.6rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 21.7rem;
	height: 3.7rem;
	position: absolute;
	left: 50%;
	bottom: -1%;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 20px 20px 0 0;
	cursor: pointer;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-ms-border-radius: 20px 20px 0 0;
	-o-border-radius: 20px 20px 0 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	text-align: center;
}
.nav-bg {
	position: absolute;
	bottom: -13%;
	left: 0;
	width: 100%;
	height: 21rem;
	background: var(--primary-color);
	z-index: -1;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.nav-button--right {
	cursor: pointer;
	width: 3.5rem;
	position: absolute;
	top: 72%;
	right: 2%;
	z-index: 999;
	transform: translate(-20%, -69%);
	-webkit-transform: translate(-20%, -69%);
	-moz-transform: translate(-20%, -69%);
	-ms-transform: translate(-20%, -69%);
	-o-transform: translate(-20%, -69%);
}
.nav-button--left {
	cursor: pointer;
	width: 3.5rem;
	position: absolute;
	top: 72%;
	left: 5%;
	z-index: 999;
	transform: translate(-20%, -69%);
	-webkit-transform: translate(-20%, -69%);
	-moz-transform: translate(-20%, -69%);
	-ms-transform: translate(-20%, -69%);
	-o-transform: translate(-20%, -69%);
}

/* Tailwind css Mobile first */
@media (min-width: 1280px) {
	.blog {
		height: 92rem;
	}
	.bcg {
		top: 4%;
		right: 5%;
	}
	.card:not(:first-child) {
		display: block;
		visibility: visible;
	}
	.blog__title {
		font-size: 2.5rem;
		line-height: 100%;
		margin: 5rem auto 2rem auto;
	}
	.blog__title::after {
		width: 17rem;
	}
	.blog__description {
		font-size: 1.8rem;
		line-height: 100%;
	}
	.blog-section {
		width: 121.4rem;
		height: 28.2rem;
	}
	.blog-swiper {
		width: 112rem !important;
		bottom: 29% !important;
		overflow: hidden !important;
		height: 50rem !important;
		left: 4% !important;
		padding: 0 4rem 0 7rem !important;
	}
	.blog-swiper .swiper-button-next {
		left: -0.6%;
		top: 63%;
	}
	.blog-swiper .swiper-button-prev {
		right: -0.6%;
		top: 63%;
	}
	.card {
		min-width: 30rem;
		min-height: 49rem;
		border: 3px solid #f8f8f8;
		padding: 1.3rem 1.5rem 1.5rem 1.5rem;
	}
	.card__image {
		width: 26.4rem;
		height: 19rem;
	}
	.card__title {
		font-size: 1.6rem;
		width: 26.4rem;
		height: 4.8rem;
		margin-bottom: 0rem;
	}
	.card__category {
		margin-top: 1.1rem;
		font-size: 1.4rem !important;
		width: 26.4rem;
		margin-bottom: 1.9rem;
	}
	.card__content {
		font-size: 1.4rem !important;
		width: 26.4rem;
	}
	.card__button {
		font-size: 1.6rem;
		margin-top: 2.8rem;
		width: 26rem;
		height: 5rem;
	}
	.nav-bg {
		width: 121.4rem;
		height: 28rem;
		left: 50%;
		transform: translate(-50%);
	}
	.nav-button--right {
		top: 69%;
		right: 12%;
		transform: translate(-20%, -69%);
		-webkit-transform: translate(-20%, -69%);
		-moz-transform: translate(-20%, -69%);
		-ms-transform: translate(-20%, -69%);
		-o-transform: translate(-20%, -69%);
	}
	.nav-button--left {
		top: 69%;
		left: 12%;
		transform: translate(-20%, -69%);
		-webkit-transform: translate(-20%, -69%);
		-moz-transform: translate(-20%, -69%);
		-ms-transform: translate(-20%, -69%);
		-o-transform: translate(-20%, -69%);
	}
}
.more {
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
}
